.App {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

.container {
  display: inline-block;

}

.recipe-card {
  width: 33%;
  position: relative;
  margin: 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 450px;
  max-height: 450px;
  min-width: 300px;
  min-height: 300px;
  float: left;
  left: 15%;
  right: 15%
}

.recipe-card img {
  border-radius: 4px;
  width: 100%;
}