.App {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  margin: 0 auto;
  padding: 0;
}

.masthead {
  background-color: #f1b367;
  padding: 60px;
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
}

.ingredients {
  float: left;
  max-width: 40%;
  min-width: 25%;
  margin-right: 2%;
  margin-left: 5%;
}

.ingredients ul {
  list-style-type: square;
}

li {
  padding: 2px;
  text-align: left;
}

.instructions {
  margin-right: 5%;
}

.single-recipe img {
  border: solid black 5px;
}

.masthead:hover {
  cursor: pointer;
}

.recipe-card {
  width: calc(33.33333% -7px);
  position: relative;
  margin: 10px 20px;
  max-width: 650px;
  max-height: 650px;
  min-width: 650px;
  min-height: 450px;
  right: 20%;
  float: left;
  left: 5%;
  
  
}

.recipe-card img {
  border-radius: 4px;
  width: 90%;
  padding: 10px;
  border: 1px solid black;
}

.recipe-card img:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
